<html>
<head>
    <title>Genre Genie</title>
</head>
<body>
    <h2>Genre Genie Database</h2>
    <p>This is a draft of an interface that can be used to interact with the Genre Genie database.</p>
    <ul>
        <li><a href="/index">Homepage</a></li>
        <li><a href="/rentals">Rentals</a></li>
        <li><a href="/customers">Customers</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/genres">Genres</a></li>
        <li><a href="/movie_genre_details">Movie Genre Details</a></li>
    </ul>
</body>
</html>